*                           @__ORG__/equipo-analistas
/docs/02-arquitectura/      @__ORG__/equipo-analistas @__ORG__/plataforma-admins
/docs/03-procesos/          @__ORG__/equipo-analistas @__ORG__/equipo-devops
